<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="about.js"></script> -->
</head>
<body>
        <p style="text-align: center">This application is primarly a Python based GUI supported software which encrypts the documents of the end user by using 256-bit encryption process. <br> This product is basically a web-based version of it.</p>
        <p style="text-align: center">To view the original Engine written in python, Click the link below<br></p>
            
        <h4 style="color: darkblue;text-align: center;">Deisgned and developed by : Harkishen Singh</h4>
    
</body>
</html>